#
#Tue Apr 24 14:43:23 CEST 2018
SEND_TO_HOST=127.0.0.1
WORKFLOW_VU_METERS=On
SEND_TO_PORT=9000
RECEIVE_FROM_(SCRIPT_RESTART_REQUIRED)_PORT=8000
PLAY_AND_SEQUENCE_ACTIVATE_FIXED_ACCENT=Off
MIDI_INPUT0=01. Internal MIDI
DEBUG_LOG_OUTPUT_COMMANDS=Off
DEBUG_FILTER_HEARTBEAT_COMMANDS_(PING_ETC.)=Off
DEBUG_LOG_INPUT_COMMANDS=Off
PLAY_AND_SEQUENCE_FIXED_ACCENT_VALUE=127
