#
#Sat Jun 09 18:43:16 CEST 2018
MainWindowX=58.0
DAW_COMMAND=C\:\\Program Files\\REAPER (x64)\\reaper.exe
MainWindowW=1209.0
MainMaximized=false
MainWindowH=652.0
CONTROLLER_INSTANCE0=de.mossgrabers.reaper.controller.kontrol.usb.mki.KontrolMkIS25ControllerInstance
RUN_AUTOMATICALLY=true
MainWindowY=320.0
