#
#Sat Jun 02 00:40:48 CEST 2018
HARDWARE_SETUP_DISPLAY_TRACK_NAMES_IN_1ST_DISPLAY=Off
ASSIGNABLE_BUTTONS_F5=New Button
ASSIGNABLE_BUTTONS_F4=New Button
ASSIGNABLE_BUTTONS_F3=New Button
TRANSPORT_FLIP_ARRANGER_AND_CLIP_RECORD_/_AUTOMATION=Off
ASSIGNABLE_BUTTONS_F2=New Button
MIDI_OUTPUT0=iCON QCON Pro X V1.15
ASSIGNABLE_BUTTONS_F1=New Button
HARDWARE_SETUP_HAS_AN_ASSIGNMENT_DISPLAY=Off
HARDWARE_SETUP_USE_FADERS_LIKE_EDITING_KNOBS=Off
PLAY_AND_SEQUENCE_QUANTIZE_AMOUNT=100
ASSIGNABLE_BUTTONS_FOOTSWITCH_2=New Button
ASSIGNABLE_BUTTONS_FOOTSWITCH_1=New Button
HARDWARE_SETUP_HAS_A_DISPLAY=On
MIDI_INPUT0=iCON QCON Pro X V1.15
HARDWARE_SETUP_HAS_MOTOR_FADERS=On
WORKFLOW_ZOOM=Off
BROWSER_DEVICE_TYPE=Show
BROWSER_DEVICE=Show
BROWSER_COLLECTION=Show
HARDWARE_SETUP_USE_VERTICAL_ZOOM_TO_CHANGE_TRACKS=Off
WORKFLOW_DISPLAY_CROSSFADER_ON_TRACK=Off
HARDWARE_SETUP_HAS_A_SECOND_DISPLAY=On
BROWSER_TAGS=Show
HARDWARE_SETUP_VU_METERS=On
WORKFLOW_NEW_CLIP_LENGTH=1 Bar
BROWSER_LOCATION=Show
TRANSPORT_BEHAVIOUR_ON_STOP=Move play cursor
WORKFLOW_SELECT_CHANNEL_ON_FADER_TOUCH=On
BROWSER_FILE_TYPE=Show
BROWSER_CREATOR=Show
HARDWARE_SETUP_HAS_A_POSITION/TEMPO_DISPLAY=On
WORKFLOW_DISPLAY_TEMPO_OR_TICKS=Ticks
BROWSER_CATEGORY=Show
HARDWARE_SETUP_PROFILE=<Select a profile>
